* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins, sans-serif';
}

body{
    background: #e6f2ff;
}

html {
    scroll-behavior: smooth;
}

.website-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    z-index: 100;
    background: #003366;
    padding: 5px 20px 10px 30px;
    border-radius: 0px 0px 0px 100px;
    grid-template-columns: auto auto auto;
}

.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.navbar-logo{
    margin: 20px 0px 0px 40px;
}

.navbar-1{
    display: flex;
    justify-content: space-between;
}

.navbar-2{
    display: grid;
    justify-content: end;
}

.navbar-2 a{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin: 10px 0px 0px 35px;
    transition: .3s;
}

.navbar-2 a:hover,
.navbar-2 a.active{
    color: #ff8000;
}

.login-container{
    display: flex;
    justify-content: flex-end;
}

.links-container{
    padding-right: 50px;
    margin-top: 10px;
}

.login{
    color: #fff;
    padding: 0px 10px;
    font-size: 20px;
    font-weight: 500;
    background-color: #003366;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: .3s;
}

.login:hover{
    border: 2px solid #ff6600;
    cursor: pointer;
}

.icon-login{
    color: #fff;
    padding:  10px;
    font-size: 30px;
    font-weight: 600;
    background-color: #003366;
}

.social-navbar{
    margin-top: 20px;
    margin-right: 300px; 
}

a.social:hover {
    transform: translateY(-4px);
}

a.youtube {
    margin: 20px;
    color: #fff;
}

a.facebook {
    margin: 20px;
    color: #fff;
}

a.tiktok {
    margin: 20px;
    color: #fff;
}

a.instagram {
    margin: 20px;
    color: #fff;
}