.guides{
    min-width: 450px;
    margin-left: 40px;
    padding: 0px 30px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    color: #595959;
    z-index: 1;
    clip-path: inset(0);
}

.guides-container{
    position: fixed;
}

.title-list{
    font-size: 30px;
    padding: 50px 0px 30px;
    text-transform: uppercase;
}

.search-input{
    padding: 10px;
    width: 100%;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 18px #989797;
}

.search-input:hover{
    box-shadow: 0px 4px 23px #989797;
}

.guides-headers{
    margin-top: 50px;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    list-style: none;
    padding-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.guides-headers li{
    margin: 12px 0px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 900;
    list-style: none;
    display: list-item;
}

.guides-headers ul{

}

.guides-headers a{
    text-decoration: none;
    color: #6e6c6c;
}

.guides-headers a:hover{
    cursor: pointer;
    color: #000000;
}

/* @media only screen and (min-width: 360px) and (max-width: 1900px){
    .guides-headers ul{
        height: 350px;
    }
}
@media only screen and (min-width: 1900px) and (max-width: 2900px){
    .guides-headers ul{
        height: 700px;
    }
} */


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(112, 112, 112); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #575757; 
  }


