.guides{
    min-width: 450px;
    margin-left: 40px;
    padding: 0px 30px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    height: 5000px;
    color: #595959;
    z-index: 1;
}

.guides-container{
    position: fixed;
}

.title-list{
    font-size: 30px;
    padding: 100px 0px 30px;
    text-transform: uppercase;
}

.search-input{
    padding: 10px;
    width: 100%;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 18px #989797;
}

.search-input:hover{
    box-shadow: 0px 4px 23px #989797;
}

.guides-headers{
    margin-top: 50px;
}

.guides-headers ul{
    margin: 30px 0px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 900;
    list-style: none;
}

.guides-headers a{
    text-decoration: none;
    color: #6e6c6c;
}

.guides-headers a:hover{
    cursor: pointer;
    color: #000000;
}

