
.contact-structure{
    position: relative;
    display: flex;
    padding: 0px 50px 40px;
    justify-content: space-between;
}

.contact{
    font-family: 'Poppins, sans-serif';
    padding: 100px 50px 150px;
}

.contact-title{
    margin-bottom: 60px;
    font-size: 45px;
}

.name{
    font-size: 30px;
    margin-bottom: 20px;
}

.contact-info{
    font-size: 25px;
}

.email-info{
    display: flex;
}

.phone-info{
    display: flex;
}

.email-info div{
    padding-left: 130px;
}

.phone-info div{
    padding-left: 30px;
}

.photo{
    width: 400px;
    height: 500px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 18px #989797;
    background-image: url(../../images/man.jpg);
}

@media only screen and (max-width: 1000px){
    .contact-structure{
        flex-direction: column;
    }

    .photo-container{
        display: flex;
        justify-content: center;
    }

    .contact{
        padding: 100px 50px 50px;
    }
}